In [1]:
import pandas as pd
import random, string

In [2]:
# Reading MEDCARE REPORT Excel file
df = pd.read_excel('/Users/saumyavora/Downloads/MEDCARE_REPORT.xlsx')

In [3]:
df

               BRANCH US_CODE          USC_NAME USC_STATUS
0              BARSHA    S002        SUPERVISOR          Y
1              BARSHA    J004        JAQUELYN.L          Y
2              BARSHA    B002          BASREE.M          Y
3              BARSHA    J006            JASEEM          Y
4              BARSHA    P003           PRAJITH          Y
...               ...     ...               ...        ...
12448  SHARJAH CLINIC    A860   AGENT_JACKSON.D          Y
12449  SHARJAH CLINIC    A861  AGENT_JENNIFER.C          Y
12450  SHARJAH CLINIC    A862             AMR.A          Y
12451  SHARJAH CLINIC    M080         MUHAMMEDF          Y
12452  SHARJAH CLINIC    H010           HISNOOM          Y

[12453 rows x 4 columns]

In [4]:
# seeing unique branches 
df.BRANCH.unique()

array(['BARSHA', nan, 'DISCOVERY GARDEN', 'EYE CENTRE', 'JBR', 'JUMEIRAH',
       'KHAWANEEJ', 'MAF', 'MARINA', 'MCH', 'MIRDIF', 'MOSH',
       'MOTOR CITY', 'MSH', 'MWCH', 'NEW MIRDIF', 'PEDIATRIC', 'PHYSIO',
       'RASHIDIYA', 'SHARJAH CLINIC'], dtype=object)

In [5]:
# selecing "MCH" from the dataset
MCH = df[df.BRANCH=='MCH']
MCH

     BRANCH US_CODE     USC_NAME USC_STATUS
2945    MCH    T006         TEST          N
2946    MCH    S037     SRIPRIYA          N
2947    MCH    A026         ASMA          N
2948    MCH    A027         AMAL          N
2949    MCH    S034        SONIA          N
...     ...     ...          ...        ...
5357    MCH    I051    INSAUDIT3          Y
5358    MCH    N107     NEETHU.B          Y
5359    MCH    C071        CIMMY          Y
5360    MCH    G062      GHADA.A          Y
5361    MCH    S294  SHAHKNOZA.N          Y

[2417 rows x 4 columns]

In [6]:
# creating a dictionary to map where key = 'US_CODE' and Value = 'USC_NAME'
dict1= MCH.set_index('US_CODE').to_dict()['USC_NAME']
dict1

{'T006': 'TEST',
 'S037': 'SRIPRIYA',
 'A026': 'ASMA',
 'A027': 'AMAL',
 'S034': 'SONIA',
 'M035': 'MEDICINE',
 'C007': 'CEO',
 'C008': 'CHAIRMAN',
 'J022': 'JINESH',
 'C009': 'CARLOS',
 'A028': 'ACHUTH',
 'S041': 'SANDEEP',
 'G006': 'GANARAJ BHASKAR',
 'M038': 'MOHAMED EL SYED EL FALAHGI',
 'F006': 'FALAHGI',
 'S043': 'SUJITH',
 'M039': 'MUHAMMED',
 'V011': 'VINOD',
 'S044': 'SHAJAHAN',
 'K002': 'KEITH',
 'W006': 'WAFA',
 'A031': 'AZIZ',
 'S046': 'SALAH',
 'A033': 'AWAD',
 'K005': 'KHAIRUNISSA',
 'A095': 'ADMIN',
 'J025': 'JENNY',
 'V012': 'VIDA',
 'B018': 'BINCY',
 'A097': 'AHMED',
 'R037': 'ROSALYNS',
 'A099': 'ANNIE',
 'C010': 'CSTORE',
 'T008': 'THEA',
 'S050': 'SHERIN',
 'A100': 'ANNIAMMA',
 'B019': 'BAKER',
 'A102': 'AMIN',
 'J026': 'JESSY',
 'O004': 'OBY',
 'R038': 'RAMI',
 'C011': 'CECILLE',
 's001': 'MUHAMMED.K',
 'J027': 'JOSEPHINE',
 'T009': 'THERESA',
 'A104': 'ANU',
 'P018': 'PRASHANT',
 'A105': 'AZZA',
 'E011': 'ELIZA',
 'R040': 'RITAM',
 'J029': 'JOSINAMMA',
 'P020': 'LUTHRA',
 'A107': 'AUSTRALIA',
 'N016': 'NUREEN',
 'A108': 'AYMAN',
 'C013': 'CHARRIE',
 'D014': 'DOLPHIMOL',
 'I009': 'IMTIAZ',
 'M048': 'MAHMOUD',
 'L018': 'LIGAYA',
 'H012': 'HASHNA',
 'L019': 'LITTY',
 'I010': 'INDIRA',
 'M049': 'MAAN',
 'H013': 'HAWRA',
 'A112': 'ABILASH',
 'Y003': 'YOUSEF',
 'S054': 'SUHAIR',
 'P021': 'PAULINE',
 'K009': 'KUSUM',
 'S055': 'SHERWIN',
 'A114': 'ANADEL',
 'J033': 'JULIANA',
 'R043': 'RUKSANA',
 'F007': 'FUKRAJ',
 'M050': 'MINISCARIA',
 'J034': 'JANCY',
 'A115': 'AMBER',
 'B020': 'BEZELEEL',
 'P022': 'PAMELA',
 'S057': 'SUBI',
 'L020': 'LIJU',
 'L021': 'LIJO',
 'J035': 'JINCY',
 'S058': 'SALVIN',
 'A117': 'ARUN',
 'T011': 'TWAYYIB',
 'A118': 'ALTAF',
 'K010': 'KIRTIKANT',
 'G009': 'GHADA',
 'M051': 'MINITHOMAS',
 'M052': 'MAYA',
 'S059': 'SOORAJ',
 'M053': 'MARZEH',
 'R046': 'REEM',
 'S060': 'SUMI',
 'N018': 'NAGINA',
 'P023': 'PREETHA',
 'B021': 'BEENA',
 'H014': 'HONELENE',
 'J038': 'JACQUELINE',
 'J039': 'JOHNNATHAN',
 'R050': 'REJIMOLE',
 'N020': 'NEETHU',
 'R051': 'RODELLA',
 'S062': 'SHINY SEBI',
 'T012': 'TAMAYO',
 'S063': 'SHAKEER',
 'S064': 'SHANNA',
 'B022': 'BASKARAN',
 'T013': 'TINTU',
 'E013': 'EMILY',
 'J040': 'JEFFRY',
 'L022': 'LISA',
 'J042': 'JERALDINE',
 'M056': 'MISHAL',
 'H017': 'HADIL',
 'J043': 'JOBBY',
 'S068': 'SARADA',
 'J044': 'JAISON',
 'S069': 'SAIMA',
 'R052': 'REINE',
 'S070': 'SHAHID',
 'C017': 'CHRISTINA',
 'D011': 'DRSHANI',
 'V010': 'VIMAL',
 'S036': 'SUGEESH',
 'I005': 'INES',
 'D012': 'DOMINGO',
 'I006': 'INSURANCE',
 'J023': 'JONABELLE',
 'L015': 'LEONILA',
 'S040': 'SHERLY',
 'S042': 'SUJAMOL',
 'M037': 'ZAWAHARY',
 'I007': 'IMAM',
 'A030': 'ARNOLD',
 'M042': 'MAZEN',
 'J024': 'JISHYMOLE',
 'E008': 'ESAKKI',
 'B016': 'BIAGIONI',
 'M043': 'WAFEEK',
 'H010': 'HAMZEH',
 'K006': 'KANI',
 'R036': 'RAVANA',
 'G007': 'GERALDINE',
 'R041': 'RAAD',
 'S051': 'SIMIN',
 'L017': 'LEAN',
 'J030': 'JANSI',
 'I011': 'ILIZA',
 'C015': 'CRISTIANE',
 'J036': 'JADE',
 'R044': 'RUBINAA',
 'A119': 'ANNALYN',
 'A120': 'ARLENE',
 'G010': 'GINCY',
 'J037': 'JUVY',
 'S061': 'SAFEENA',
 'R049': 'RIZAH',
 'D017': 'DHANYA',
 'F008': 'FATHI',
 'S065': 'SUMA',
 'H016': 'HAKEEM',
 'S067': 'SAEED',
 'V013': 'VIPIN',
 'P025': 'PRINCESS2',
 'M057': 'MATHEEN',
 'G011': 'GEORGE',
 'A121': 'ANWARSADATH',
 'R054': 'RACHWAN',
 'N021': 'NABEELA',
 'J045': 'JEAN',
 'A122': 'ANJALI.G',
 'I012': 'IWONA',
 'R055': 'RAJ',
 'S071': 'SHAUKATH',
 'M058': 'MARGARETTE',
 'F011': 'FRANCIS',
 'R056': 'RAJAMAGESH',
 'H019': 'HANI',
 'K011': 'KARTHIKA',
 'N022': 'NISHAMS',
 'J046': 'JECT',
 'J047': 'JEFFREYS',
 'A024': 'AZADMOOPAN',
 'A025': 'ALATHARI',
 'N012': 'NALLA',
 'G005': 'GLADYS',
 'S038': 'SHAMEER',
 'B015': 'BHARATH',
 'N013': 'NAJLAA.K',
 'N014': 'NAJLAA',
 'R035': 'REY',
 'A029': 'ANITHA',
 'M040': 'MABIN',
 'M041': 'MARC',
 'A032': 'AMMAR',
 'K003': 'KARIM',
 'S047': 'SUMESH',
 'H009': 'HAFSA',
 'S049': 'SAMI',
 'K004': 'KHALID',
 'T007': 'TAMER',
 'A034': 'ABID',
 'M044': 'MOHAMED',
 'A096': 'ANIL',
 'A098': 'AGNES',
 'N015': 'NORY',
 'E009': 'EMAD',
 'I008': 'ILAW',
 'M045': 'MATERIALS',
 'K007': 'KHRIS',
 'p001': 'SHOUKATH',
 'E010': 'ERWIN',
 'L016': 'LILLY',
 'A101': 'AMIN2',
 'R039': 'RYAN',
 'A103': 'ANGELINE',
 'J028': 'JOHNANTHONY',
 'P019': 'PRECILLA',
 'A106': 'ANWAR',
 'M046': 'MERLIN',
 'A109': 'ATIQUE',
 'W007': 'WARKA',
 'T010': 'TAREK',
 'D013': 'DARAGANA',
 'S056': 'SHYNI',
 'D016': 'DEEPAVARGHESE',
 'Z002': 'ZAKARIAH',
 'A116': 'ALI',
 'N017': 'NANCY',
 'R045': 'RAHUL',
 'R047': 'REJIMOL',
 'C016': 'CHERRY',
 'M054': 'MARVEE',
 'P024': 'PRIYANAIR',
 'H015': 'HR',
 'J041': 'JENNIFERG',
 'M055': 'MANDANA',
 'S066': 'SUJATHA',
 'F009': 'FATEN',
 'R053': 'RAMSHID',
 'F010': 'FATIMA',
 'A123': 'ARNEL',
 'H018': 'HAITHAM',
 'D018': 'DATAMATE',
 'O001': 'OP',
 'M001': 'MRD',
 'S002': 'SUPERVISOR',
 'N001': 'NS',
 'E001': 'ER',
 'I003': 'IP',
 'R001': 'RADIOLOGY',
 'A002': 'SANI',
 'A003': 'ABROO',
 'A004': 'AGNIES',
 'A005': 'AKARIM',
 'A006': 'ALA',
 'A007': 'AMANI',
 'A008': 'AMER',
 'A009': 'AMGAD',
 'A010': 'ANASS',
 'A011': 'ANILA',
 'A012': 'ANITTA',
 'A013': 'ANN',
 'A014': 'ANNA',
 'A016': 'ARMY',
 'A017': 'ASHA',
 'A018': 'KONCHWALLA',
 'A019': 'ATIYA',
 'A020': 'AUDITOR',
 'A021': 'AUST',
 'A022': 'AYYAPAN',
 'B002': 'BALKISH',
 'B003': 'BASET',
 'B004': 'BELEN',
 'B005': 'BELKAIS',
 'B006': 'BENCY',
 'B007': 'BENSY',
 'B009': 'BIJU',
 'B010': 'BINSY',
 'B011': 'BLESON',
 'B012': 'BRAJESH',
 'B013': 'BRYAN',
 'C001': 'CARLA',
 'C002': 'CATHER',
 'C003': 'CHERRIE',
 'C004': 'CHITRA',
 'C005': 'CHRIS',
 'C006': 'CLARA',
 'D002': 'DALAL',
 'D003': 'DAMANI',
 'D005': 'DEEPA',
 'D006': 'DHEERAJ',
 'D007': 'DHEY',
 'D008': 'DOROTHY',
 'D009': 'DTHOMAS',
 'E003': 'ELIZ',
 'E004': 'ENCAR',
 'E006': 'EYAB',
 'F001': 'FARANGES',
 'F002': 'FARIBA',
 'F003': 'FAUZIA',
 'F004': 'FILIPINA',
 'F005': 'FUDGE',
 'G001': 'GAYANI',
 'G002': 'GHANA',
 'G003': 'GOMINTON',
 'G004': 'GREGORIO',
 'H001': 'HAIDEE',
 'H002': 'HALA',
 'H003': 'HARI',
 'H004': 'HASSAN',
 'H005': 'HAZEL',
 'H006': 'HAZELBAO',
 'H007': 'HEM',
 'H008': 'HEMANGI',
 'I002': 'IRENE',
 'J001': 'JANCI',
 'J002': 'JANE',
 'J004': 'THASNEEM',
 'J005': 'JASSEM',
 'J007': 'JENETTE',
 'J008': 'JENNIFER',
 'J010': 'JISHA',
 'J012': 'JOBIN',
 'J015': 'JON',
 'J017': 'JOSIE',
 'J018': 'JOY',
 'J020': 'JUBINA',
 'K001': 'KUMARI',
 'L003': 'LABIRAN',
 'L004': 'LAMA',
 'L005': 'LARA',
 'L008': 'LIDA',
 'L010': 'LOUISE',
 'L011': 'LUBAB',
 'L013': 'LUNA',
 'L014': 'LUZ',
 'M003': 'MARIA',
 'M004': 'MARIAN',
 'M006': 'MARILYN',
 'M008': 'MARKAOUI',
 'M009': 'MARLIN',
 'M011': 'MARTIN',
 'M012': 'MARY.A',
 'M015': 'MARYK',
 'M016': 'MARYLOU',
 'M018': 'MEDREC',
 'M019': 'MEERA',
 'M021': 'METSEHET',
 'M022': 'MILA',
 'M023': 'MILAN',
 'M025': 'MINIMOL',
 'M026': 'MOHAMMAD',
 'M028': 'MRD12',
 'M029': 'MUBEENA',
 'M031': 'MUJAHID',
 'M032': 'MUSTAFA',
 'N002': 'NAGARMAL',
 'N003': 'NAGGAR',
 'N004': 'NEETU',
 'N006': 'NISHA',
 'N007': 'NISHAJ',
 'N010': 'NITHIN',
 'O002': 'ODETTE',
 'O003': 'OMNIA',
 'P004': 'PASTRANA',
 'P005': 'PEREZ',
 'P007': 'PINKY',
 'P008': 'PKUMAR',
 'P009': 'POONGODI',
 'P011': 'PRAVEENA',
 'P012': 'PREETHI',
 'P014': 'PRESSY',
 'P015': 'PRINCESS',
 'J048': 'JECTOFER',
 'M059': 'MOGHAZY',
 'I013': 'IHAB',
 'S072': 'SHAGUFTA',
 'S073': 'SHINYT',
 'A124': 'ASHU',
 'G012': 'GERLIE',
 'B023': 'BARRY',
 'F012': 'FARRAH',
 'L023': 'LUCIA',
 'F013': 'FRANCIA',
 'T014': 'TEST1',
 'R057': 'REENADSOUZA',
 'N023': 'NIKKI',
 'A125': 'ANASA',
 'e001': 'esaki',
 'W008': 'WALTER',
 'A126': 'ARSHIYA',
 'R058': 'REDA',
 'S075': 'SEDEEQ',
 'J049': 'JACKYL',
 'S076': 'SATHYA',
 'V014': 'VANESSA',
 'M060': 'MAILYN',
 'A127': 'AILEEN',
 'S077': 'SAMAH',
 'W009': 'WAFAB',
 'V015': 'VICTORIA',
 'F014': 'FOROOZAN',
 'S078': 'SENTHIL',
 'L024': 'LINCY',
 'E014': 'EXTERNAL',
 'M061': 'MARYJANE',
 'D019': 'DATA1',
 'D020': 'DATA2',
 'D021': 'DATA3',
 'Q001': 'QA1',
 'Q002': 'QA2',
 'I014': 'IRMA',
 'S079': 'MUNEER.K',
 'H020': 'HISNOOM',
 'A128': 'AHMADH',
 'H021': 'HOSSAM',
 'B024': 'BINCYV',
 'L025': 'LIZICA',
 'A129': 'ANKUR',
 'W010': 'WIDAD',
 'F015': 'FAWAZ',
 'M062': 'MANAR',
 'S080': 'SAMEER',
 'Z003': 'ZUHAIR',
 'K012': 'KAREN',
 'S081': 'SUMALYA',
 'R059': 'RANAK',
 'A131': 'AIBI',
 'R060': 'REA',
 'B025': 'BILLTEST',
 'A132': 'ANCYM',
 'A133': 'ANITHAD',
 'L026': 'LIBYV',
 'J050': 'JOICYM',
 'M063': 'MONALISA',
 'N024': 'NIKITA',
 'M064': 'MARIO',
 'J051': 'JOANNA',
 'S082': 'SAEEDA',
 'Q003': 'QUEENY',
 'G013': 'GHANI',
 'A134': 'AICHELLE',
 'E015': 'EBTESAM',
 'I015': 'IRSHAD',
 'M065': 'MMOSTAFA',
 'M066': 'MAY ANN',
 'H022': 'HAMDAN',
 'P017': 'PUSHPA',
 'R003': 'RACH',
 'R005': 'RACHELLE',
 'R006': 'RAD',
 'R007': 'RAJI',
 'R009': 'RANIM',
 'R012': 'RAWYA',
 'R013': 'REENA',
 'R015': 'RENU',
 'R016': 'RENUKA',
 'R018': 'RIYAZ',
 'R019': 'RIZA',
 'R020': 'ROMAL',
 'R022': 'ROSABEL',
 'R023': 'ROSALYN',
 'M034': 'ME',
 'I004': 'IBRAHIM',
 'S032': 'SARAVANAN',
 'D010': 'DUDDU',
 'T005': 'TILU',
 'R027': 'ROSEY',
 'S004': 'SABAH',
 'S006': 'SAHAR',
 'S007': 'SAHIL',
 'S008': 'SAJNA',
 'S010': 'SAMER',
 'B001': 'BILLING',
 'S001': 'STORE',
 'L001': 'LAB',
 'S003': 'SCAN',
 'U001': 'USER',
 'R002': 'RAJESH',
 'P002': 'PRAKASH',
 'S012': 'SANG',
 'S013': 'SHADI',
 'S015': 'SHAREENA',
 'S016': 'SHEEBAS',
 'S019': 'SHERLEY',
 'S020': 'SHERY',
 'S022': 'SHIJIMOL',
 'S023': 'SHIJU',
 'S024': 'SHINY',
 'S025': 'SHIVA',
 'S026': 'SINAN',
 'S027': 'SINI',
 'S028': 'SUHA',
 'S030': 'SUZ',
 'T001': 'TENIOLA',
 'T002': 'THASLI',
 'T003': 'TINY',
 'T004': 'TRINIDAD',
 'V002': 'VALARIE',
 'V003': 'VENUS',
 'V004': 'VIDHU',
 'V005': 'VINITHA',
 'V006': 'VINUS',
 'W001': 'WAJID',
 'W002': 'WALID',
 'W003': 'WAQUAR',
 'W004': 'WILMA',
 'W005': 'WISSAM',
 'Y002': 'YUSUF',
 'Z001': 'MOHAMMED ZAHEERUDDIN',
 'I001': 'IDMSYS',
 'M007': 'MARIZA',
 'M014': 'MARYANNE',
 'R024': 'BIJU.N',
 'R025': 'ROSAMMAT',
 'S009': 'SAKTHI',
 'S014': 'SHAKIL',
 'S017': 'SHEEJA',
 'S018': 'SHEEJAJ',
 'S021': 'SHERYL',
 'S029': 'SUHAIL',
 'V007': 'VIOLET',
 'V008': 'VISHAL',
 'V009': 'VIVIAN',
 'D001': 'DSOFT',
 'V001': 'VIMAL12',
 'J003': 'JANISH',
 'J006': 'JEFFREY',
 'J009': 'JERRY',
 'J013': 'JOCELYN',
 'J016': 'JOSEP',
 'J019': 'JOZEF',
 'L002': 'LAB     ',
 'L006': 'LAUREL',
 'L009': 'LINJU',
 'L012': 'LUCITA',
 'M002': 'MANJIRI',
 'M005': 'MARIEN',
 'M010': 'MARRY',
 'M013': 'MARYAM',
 'M017': 'MARYV',
 'M020': 'MERCY',
 'M024': 'MINI',
 'M030': 'MUJAHED',
 'M033': 'MYLA',
 'N005': 'NICHOLS',
 'N008': 'NIT',
 'N011': 'NOEL',
 'P003': 'PACKIA',
 'P006': 'PHARMA1',
 'P010': 'PRAJITH',
 'P013': 'PREM',
 'P016': 'PRIYA',
 'R004': 'RACHED',
 'R008': 'RANA',
 'R011': 'RAVI',
 'R014': 'REJI',
 'R017': 'REYES',
 'R021': 'ROMMEL',
 'R026': 'ROSEDITH',
 'S005': 'SAFWAN',
 'S011': 'SAMIA',
 'P001': 'PHARMACY',
 'A001': 'ADARSH',
 'S033': 'SADAF',
 'R028': 'ROSEBITH',
 'E007': 'EFREL',
 'J021': 'JANES',
 'R029': 'RAFEEQUE',
 'S035': 'SHAFI',
 'B014': 'BIJUP',
 'M036': 'MARK',
 'A023': 'AHAMED',
 'R033': 'REJISIR',
 'R034': 'ROSELLE',
 'G016': 'GAILE',
 'D025': 'DENISE',
 'A146': 'ANNELIEN',
 'N026': 'NISA',
 'U002': 'UZMA11',
 'T018': 'THURA',
 'A152': 'AYAD',
 'L030': 'LIGI',
 'N029': 'NATALIYA',
 'S098': 'SUHA HOUBY',
 'N032': 'NIRMALA',
 'R070': 'ROSELLEA',
 'A153': 'AMRE',
 'S101': 'SALMA',
 'E016': 'EKATRINA',
 'R071': 'RUPINDER',
 'H027': 'HICHAM',
 'R072': 'RAED',
 'A156': 'ANISH',
 'F019': 'FENELLA',
 'V018': 'VIJAY',
 'G023': 'GINA',
 'M089': 'MOSH_WAQAS',
 'M090': 'MARIAJ',
 'H031': 'HARIH',
 'B031': 'BIBIN',
 'M098': 'MARICEL',
 'M099': 'MOSH_GREGORIO',
 'A173': 'ALIMAEL',
 'D036': 'DEANN',
 'J063': 'JUSTIN',
 'M110': 'MEILEEN',
 'M114': 'MKAMAL',
 'J055': 'JULIAN',
 'H025': 'HARISH',
 'P027': 'PRIYAM',
 'T015': 'TUSHARA',
 'R068': 'RACHELLEV',
 'T016': 'THRESA',
 'A147': 'AHMEDM',
 'D027': 'DINA',
 'G019': 'SHATE',
 'A154': 'ANDREA',
 'K019': 'KATE',
 'L031': 'LEAH',
 'M084': 'MARIEC',
 'A157': 'ANISHC',
 'Z004': 'ZUHAIRSIKAFI',
 'M088': 'MUNA',
 'G025': 'GHADAS',
 'm001': 'mehamood',
 'S124': 'SALIH',
 'M113': 'MOHAMMED SAMEER',
 'L040': 'LYZIEL',
 'M116': 'MARIAP',
 'K015': 'KOTTASWERI..',
 'S088': 'SHADIS',
 'A015': 'ANNABEL',
 'B008': 'BHASKAR',
 'D004': 'DANIEL',
 'E002': 'ELBACHIR',
 'E005': 'ENRIQUE',
 'J011': 'JOANNE',
 'J014': 'JOHN',
 'L007': 'LAVINA',
 'N009': 'NITA',
 'S074': 'SATHIYANATHAN',
 'S031': 'SWEETY',
 'A130': 'AYMANJUNDI',
 'R010': 'RAQUEL',
 'Y001': 'YASMINE',
 'M027': 'MOJGAN',
 'S039': 'SOUDABEH',
 'S045': 'SUZANNE',
 'G008': 'GANESH',
 'R048': 'REKHA',
 'N019': 'NINA',
 'S048': 'SHAMEEM',
 'B017': 'BELINDA',
 'J053': 'JAAFAR',
 'J054': 'JABBAR',
 'G017': 'GRACE',
 'S093': 'SALMAN',
 'J057': 'JENNIFERQ',
 'A148': 'AHMAD',
 'K024': 'KHOULOUD',
 'S089': 'SARAH',
 'S091': 'SHINYJ',
 'M080': 'MEHBOOB',
 'M091': 'MYLENE',
 'L033': 'LAMYA',
 'I023': 'ILIYASM',
 'M097': 'MANUEL',
 'O005': 'OSAMA',
 'S111': 'STUTI',
 'D033': 'DIVYAP',
 'A172': 'ABDUL',
 'S115': 'SAFRINE',
 'W011': 'WASEEM',
 'R085': 'RENJU',
 'S118': 'SHIREEN',
 'E019': 'ESTELA',
 'T021': 'THECLA',
 'A176': 'ANIS',
 'S123': 'SUKHEESHK',
 'M108': 'MANSOOR',
 'S126': 'SIMONE',
 'D037': 'DRREENA',
 'M112': 'MIRZA',
 'R090': 'RAHMATOLLAH',
 'J070': 'JOMARIE',
 'M079': 'MANALI',
 'A151': 'ALTWEIN',
 'R073': 'ROMELYN',
 'M086': 'MALAK',
 'M087': 'MUNEER',
 'C019': 'CHARNELYN',
 'N035': 'NIKOLA',
 'S107': 'SHEILAQ',
 'D031': 'DILIP',
 'K021': 'KUMUD KHAME',
 'R076': 'RASHMI',
 'E017': 'EHAB',
 'V020': 'VEBHA',
 'M094': 'MOSH_VIJAY',
 'F022': 'FIZER',
 'A167': 'MOSSAD',
 'A168': 'ANOOP',
 'R083': 'RAJJOUB',
 'A170': 'ALISA',
 'A171': 'ANUMOHAN',
 'C024': 'CHRISTIAND',
 'S112': 'SRIPATHI',
 'S117': 'SURESH',
 'M105': 'MOSH_DEMO',
 'H036': 'HAYTHAMA',
 'J064': 'JHOMAR',
 'H037': 'HERSHEY',
 'E020': 'EDLYN',
 'R087': 'RAYMUNDO',
 'B033': 'BASMA',
 'A177': 'AGENT_KARIM',
 'S125': 'SHEEBAV',
 'A186': 'AGRIPINO',
 'N040': 'NATHALIE',
 'R089': 'RAJIAJI',
 'B034': 'BONEY',
 'R091': 'RADHIKA',
 'H011': 'HIND',
 'M047': 'MARWAN',
 'S052': 'SABAHJARALLAH',
 'A110': 'ANEES',
 'C012': 'CHRISTINES',
 'C014': 'CSEKHAR',
 'J031': 'JEFFERY',
 'R042': 'RITA',
 'S053': 'SREEREKHA',
 'A111': 'AINY',
 'J032': 'JACKY',
 'A113': 'ABHILASH',
 'E012': 'ESSA',
 'D015': 'DEEPAJ',
 'I016': 'IVA',
 'D022': 'DENESH',
 'A143': 'ABELYNN',
 'A144': 'AFAS',
 'H024': 'HISHAM',
 'M071': 'MUHAMMEDF',
 'D024': 'DEMO',
 'S087': 'SHANIE',
 'M072': 'MIAN',
 'S083': 'SAM',
 'K013': 'KATHLEEN',
 'D023': 'DAHLIA',
 'R063': 'RAHMEH',
 'J052': 'JYOTHI',
 'M067': 'MOSHEER',
 'M068': 'MOIRA',
 'S084': 'SHERIF',
 'S085': 'SCAN2',
 'A139': 'ARIANNE',
 'A142': 'AINEE',
 'F016': 'FHARRAH',
 'M070': 'MANJU',
 'M073': 'MSHAHID',
 'A136': 'AILEENL',
 'A137': 'ALHOURANI',
 'M069': 'MERON',
 'A140': 'ASMAA',
 'C018': 'COSETTE',
 'R062': 'RAHIMAN',
 'H023': 'HADEEL',
 'A138': 'ABBELYN',
 'S086': 'SUDHAKAR',
 'A135': 'ALISHA',
 'L027': 'LINDA',
 'P026': 'PRAMEELA',
 'R061': 'RABEEH',
 'A141': 'ABBEY',
 'G014': 'GINCYM',
 'M074': 'MOSH_SENTHIL',
 'M077': 'MOSH_SAM',
 'V016': 'VIJIL',
 'R065': 'RAFEEK',
 'K016': 'KATRINA',
 'S096': 'SYED',
 'A149': 'DR ANKUR',
 'Y004': 'YULIA',
 'V017': 'VIDYA',
 'D028': 'DEJAN',
 'N028': 'NAJALA',
 'Y005': 'YOGITHA',
 'Y006': 'YOGHITA',
 'N030': 'NEERAJ',
 'G020': 'GIANELI.',
 'M081': 'MADU',
 'S102': 'SALWAN',
 'M082': 'MADHU',
 'U003': 'USHA',
 'M083': 'MARYR',
 'N034': 'NAJAT',
 'R074': 'ROMALYN',
 'H028': 'HAZELC',
 'H029': 'HASHIM',
 'K020': 'KATHP',
 'S106': 'SANTI',
 'T019': 'TAYZEEN',
 'A158': 'ANISHCHANDRAN',
 'I020': 'IRSHADCE',
 'B027': 'BASHEED',
 'S108': 'SARITHA',
 'J060': 'JIJI',
 'S109': 'SHEENA',
 'A163': 'ASTHA',
 'C022': 'CIBA',
 'E018': 'ELSA',
 'Y007': 'YVETTE',
 'S110': 'SHARDA',
 'A166': 'ALMAMAY',
 'M093': 'MELANI',
 'R078': 'RINI',
 'L035': 'LITHA',
 'R080': 'ROWAIDA',
 'I022': 'ILYASM',
 'M095': 'MAYNARD',
 'L036': 'LEE',
 'J061': 'JOSEPHIME',
 'A169': 'AHMEDK',
 'H032': 'HASHIMH',
 'M100': 'MOSH_RAM',
 'A150': 'ABDULGHANI',
 'D029': 'DIVYA',
 'I018': 'IMRAN',
 'K018': 'KEYA',
 'N031': 'NAWAL',
 'S099': 'SHARLYN',
 'A155': 'AYMAN.J',
 'S103': 'STEEN',
 'G021': 'GAIZEL',
 'F020': 'FM',
 'M085': 'MOHAMEDK',
 'G022': 'GAIZIL',
 'D030': 'DARSANA',
 'S105': 'SMITHA',
 'J058': 'JAY PILLA',
 'C020': 'CINDERELLA',
 'J059': 'JANETA',
 'A160': 'ANISH C',
 'K022': 'KUMUD',
 'A162': 'ALEXANDRA',
 'K023': 'KARENG',
 'C021': 'CERIN',
 'A164': 'ANNAB',
 'L032': 'LADYJ',
 'Z005': 'ZAID',
 'H030': 'HONEY',
 'V019': 'VARSHA',
 'G024': 'GAELLE',
 'L034': 'LISAY',
 'D032': 'DENNIES',
 'R077': 'RAJA',
 'N036': 'NORRIS',
 'R081': 'ROLAND',
 'B032': 'BETSY',
 'M096': 'MATTIA',
 'P030': 'PRINCYM',
 'Z006': 'ZAFER',
 'T020': 'THITRA',
 'M101': 'MOSH_KOTTI',
 'M102': 'MIRRAH',
 'H033': 'HASEENA',
 'R084': 'RAJK',
 'S114': 'SHAJU',
 'P031': 'PACKIAS',
 'D034': 'DAPHNE',
 'H034': 'HANEEN',
 'D035': 'DIMA',
 'A174': 'ALIMEL',
 'A175': 'ANASPV',
 'S119': 'SAMERM',
 'N037': 'NEIL',
 'S120': 'SHERWINT',
 'I024': 'IMAN',
 'R086': 'RACHELC',
 'M106': 'MANUELE',
 'S122': 'SUAAD',
 'N038': 'NISHA AP',
 'J065': 'JENNEBETH',
 'I025': 'ISSAM',
 'C025': 'CHEERISH',
 'M107': 'MARYG',
 'C026': 'CHARLES',
 'A178': 'AGENT_WAQUAR',
 'A183': 'AGENT_ANNA',
 'A184': 'AGENT_SHERIF',
 'S127': 'SHUHAIB',
 'O006': 'OPSTAT',
 'L037': 'LALIH',
 'R088': 'REZWAN',
 'M109': 'MUTHU',
 'J067': 'JANEN',
 'L038': 'LUKE',
 'S128': 'SYLVIA',
 'A187': 'AJAS',
 'M111': 'MAGESH',
 'F023': 'FATIMAR',
 'S129': 'SATHISH',
 'A188': 'AGENT_LUKE',
 'J068': 'JOSEPH',
 'A189': 'AGATHA',
 'V021': 'VIJAY KUMAR',
 'M115': 'MAYADA',
 'J069': 'JAZIRA',
 'A191': 'ANITHAR',
 'K014': 'KOTTEESWARI....',
 'G015': 'GANESH..',
 'K008': 'KOTTEESWARI',
 'S090': 'SHADY',
 'J056': 'JOMY',
 'M075': 'MOSH_RAVI',
 'M076': 'MOSH_SHAKEER',
 'R064': 'ROSELLEC',
 'R066': 'RAHNA',
 'M078': 'MTAJI',
 'A145': 'AMOR',
 'L028': 'LIZA',
 'S092': 'SUNI',
 'F017': 'FEBA',
 'L029': 'LIYA',
 'R067': 'RAMYA',
 'G018': 'GIANELI',
 'R069': 'REINETTE',
 'H026': 'HUSSAM',
 'N025': 'NISHAK',
 'S094': 'SABRINA',
 'P028': 'PRINCY',
 'P029': 'PAVITHRA',
 'D026': 'DEWANNA',
 'S095': 'SANOOP',
 'F018': 'FARAH',
 'N027': 'NEELAM',
 'S097': 'SAGIMOLE',
 'I017': 'IVANA',
 'T017': 'TAZYEEN',
 'K017': 'KIRAN',
 'N033': 'NAZIA',
 'S100': 'SANDHYA',
 'B026': 'BERNEY',
 'S104': 'SHEILA',
 'I019': 'IOLA',
 'A159': 'AZZAM',
 'R075': 'RAJUL',
 'I021': 'ILYAS',
 'B028': 'BINU',
 'A161': 'ALPHONSA',
 'C023': 'CHRISTIAN',
 'M092': 'MARIJA',
 'A165': 'ANDREI',
 'R079': 'ROLAN',
 'B029': 'BETH',
 'B030': 'BUTCH',
 'F021': 'FRANS',
 'R082': 'RAMRAJAN',
 'J062': 'JESEENA',
 'G026': 'GHASSAN',
 'M103': 'MAROUF',
 'S113': 'SIMIS',
 'S116': 'SHAHEENA',
 'M104': 'MARGARETH',
 'H035': 'HINDS',
 'S121': 'SMITHAN',
 'I026': 'IRIES',
 'N039': 'NISHAR',
 'A179': 'AGENT_HASHIM',
 'A180': 'AGENT_FHARRAH',
 'A181': 'AGENT_GRACE',
 'A182': 'AGENT_IMAN',
 'A185': 'ABDULKADER',
 'J066': 'JOSHUA',
 'A190': 'AGRIPINO CASABA',
 'L039': 'LARRY',
 'H038': 'HELOISE',
 'A802': 'AHMED.R',
 'A803': 'ANKITA.S',
 'K025': 'KAVITHA',
 'A193': 'AGENT_ADEL',
 'A194': 'AGENT_KHULOOD',
 'M118': 'MAWADAH',
 'A201': 'AGENT_KHALED',
 'A203': 'AGENT_LUBNA',
 'P032': 'PAULA',
 'L041': 'LINU',
 'S131': 'SHINO',
 'P033': 'PRIYAG',
 'A207': 'ALJA.STIPAC',
 'J073': 'JANICE',
 'M119': 'MEDITEST',
 'A209': 'AGENT_SALIM',
 'B036': 'BILGY',
 'P035': 'PAM',
 'Z007': 'ZAHRAA',
 ...}

In [7]:
len(dict1)

2417

In [8]:
# One of the datasets we will test Anonyization funtion
df1 = pd.read_csv("/Users/saumyavora/Downloads/RECEIPT_DETL_2019-02-27_12-12-12.csv",sep='|',encoding='latin1')
df1

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (11,13,14,19,29,34,38,39) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,RP_NO,BL_CODE,RPD_DATE,PT_NO,RPC_SLNO,RPC_CNT,RPC_CACR,RPC_CODE,DO_CODE,PD_CODE,...,RPN_TAXSPLIT1CH,RPN_TAXSPLIT2CH,RPN_TOTTAXCR,RPN_TAXSPLIT1CR,RPN_TAXSPLIT2CR,INC_SLNO,RPD_INSAPPREXPDATE,RPD_INSDATE,RPC_INSREMARKS,RPN_ITEMSLNO
0,426997,G001,2017-07-18 10:09:12,228550.0,2017078350,1,O,CN,R028,1036,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,427889,G001,2017-07-20 11:45:02,103931.0,2017079242,1,O,CN,A047,1038,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,428969,G001,2017-07-23 14:12:54,9003000.0,2017080322,1,O,CN,0233,1038,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,429027,G001,2017-07-23 15:59:21,185077.0,2017080380,1,O,CN,0017,1029,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,429419,G001,2017-07-24 15:23:18,326719.0,2017080772,1,O,RG,T009,R004,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262616,639363,G001,2018-11-19 12:51:14,218300.0,2018144128,1,O,CN,A030,1029,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262617,639349,G001,2018-11-19 12:38:08,1062730.0,2018144114,1,O,CN,A030,1029,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262618,639382,G001,2018-11-19 13:07:49,1061891.0,2018144147,1,O,CN,N023,1038,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262619,639401,G001,2018-11-19 13:29:05,166816.0,2018144166,1,O,CN,N023,1038,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262620,639431,G001,2018-11-19 14:01:39,1050703.0,2018144196,1,O,CN,N023,1039,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# To see columns
df1.columns

Index(['RP_NO', 'BL_CODE', 'RPD_DATE', 'PT_NO', 'RPC_SLNO', 'RPC_CNT',
       'RPC_CACR', 'RPC_CODE', 'DO_CODE', 'PD_CODE', 'RPC_PATIENT',
       'RPN_GROAMT', 'RPN_DISPER', 'RPN_DISAMT', 'RPN_NETAMT', 'RPN_REFUND',
       'RPC_CANCEL', 'RPN_ACTUAL', 'US_CODE', 'RPN_RATE', 'RPN_QTY', 'DA_CODE',
       'OPC_SLNO', 'RPC_SCHEME', 'RPN_DEDUCT', 'RPN_COPAYMENT',
       'RPN_COPAYMENTPER', 'RPN_OPREFUND', 'RPN_COST', 'MH_CODE',
       'OPN_DEDUCTPER', 'RPC_CPTCODE', 'RPC_ACTIVITYID', 'RPC_REMARKS',
       'RPC_MODIFIER', 'RPC_SCHEMEDESC', 'RPC_ZERORATE', 'DOC_REGNO',
       'RPC_INSAPPROVALCODE', 'RPC_TAXCODE', 'RPN_TAXPER', 'RPN_TAXSPLITPER',
       'RPN_TOTTAX', 'RPN_TAXSPLIT1', 'RPN_TAXSPLIT2', 'RPN_TOTTAXCH',
       'RPN_TAXSPLIT1CH', 'RPN_TAXSPLIT2CH', 'RPN_TOTTAXCR', 'RPN_TAXSPLIT1CR',
       'RPN_TAXSPLIT2CR', 'INC_SLNO', 'RPD_INSAPPREXPDATE', 'RPD_INSDATE',
       'RPC_INSREMARKS', 'RPN_ITEMSLNO'],
      dtype='object')

In [10]:
# Exploring US_CODE column
df1.US_CODE.value_counts()

L050    15877
M141    15302
G055    13190
M185    13103
P015    12640
        ...
R155        7
D056        2
W001        1
E059        1
M275        1
Name: US_CODE, Length: 62, dtype: int64

We see that we have 62 different codes

In [11]:
# Null counts for US_CODE column
df1.US_CODE.isnull().sum()

50055

In [12]:
# Before mapping values first removing the null values
df1 = df1.dropna(subset=['US_CODE'])
df1

,RP_NO,BL_CODE,RPD_DATE,PT_NO,RPC_SLNO,RPC_CNT,RPC_CACR,RPC_CODE,DO_CODE,PD_CODE,...,RPN_TAXSPLIT1CH,RPN_TAXSPLIT2CH,RPN_TOTTAXCR,RPN_TAXSPLIT1CR,RPN_TAXSPLIT2CR,INC_SLNO,RPD_INSAPPREXPDATE,RPD_INSDATE,RPC_INSREMARKS,RPN_ITEMSLNO
0,426997,G001,2017-07-18 10:09:12,228550.0,2017078350,1,O,CN,R028,1036,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,427889,G001,2017-07-20 11:45:02,103931.0,2017079242,1,O,CN,A047,1038,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,428969,G001,2017-07-23 14:12:54,9003000.0,2017080322,1,O,CN,0233,1038,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,429027,G001,2017-07-23 15:59:21,185077.0,2017080380,1,O,CN,0017,1029,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,459343,G001,2017-10-10 12:09:36,330335.0,2017110696,1,O,CN,0195,1038,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262616,639363,G001,2018-11-19 12:51:14,218300.0,2018144128,1,O,CN,A030,1029,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262617,639349,G001,2018-11-19 12:38:08,1062730.0,2018144114,1,O,CN,A030,1029,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262618,639382,G001,2018-11-19 13:07:49,1061891.0,2018144147,1,O,CN,N023,1038,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262619,639401,G001,2018-11-19 13:29:05,166816.0,2018144166,1,O,CN,N023,1038,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262620,639431,G001,2018-11-19 14:01:39,1050703.0,2018144196,1,O,CN,N023,1039,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# Now, mapping is done for US_CODE column we replace all the codes by its corresponding name from the dictionary(dict1)
df1['US_CODE'] = df1['US_CODE'].apply(lambda x: dict1[x])

<ipython-input-13-bb402ba87742>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['US_CODE'] = df1['US_CODE'].apply(lambda x: dict1[x])

In [14]:
df1['US_CODE'].value_counts().to_string()

'LOVE.ALAYON      15877\nMIRZA.NAZIR      15302\nGEORGE.S         13190\nM.NOUFAL         13103\nPRINCESS         12640\nMAY              12340\nCECILLE          11272\nSAYED.HASHIMI    10544\nAMOS              9257\nNADEER.P          8337\nHINDS             8028\nJAMAL.M           6762\nMONICA.JOHN       6604\nPRAVEEN.A         6324\nAHMED.H           6157\nABDEL.R           6103\nIZZEDDINE.B       6086\nCHARRYBE.S        6014\nASSEM.HEGRAN      4984\nIBRAHIM.R         4833\nASSIA.S           4687\nLAILA.Y           4626\nHAMDAN            2809\nRHEA.MELODY       2626\nMOSTAFA.B         2223\nMARICEL.S         2042\nASWATHY           1070\nGLADYS            1067\nMICHAEL.T         1027\nMARIFE             968\nJUBINA             874\nCHRISTIAN          661\nPAUL.K             640\nSANG               583\nMONA.H             565\nNAJLA.H            515\nSHAHEENA           402\nPRIYA.M            244\nAHMAD.E            244\nAAISHA             208\nVALERIYA.V         172\nALLAN.M             81\nHASIB.MAYEGA        69\nM.NIZAM             58\nSARAVANAN           54\nDSOFT               46\nREEM                41\nESTELA              39\nJESSY.A             34\nJONA.ENCIONG        33\nARIANNEN            21\nLARA.M              16\nANURUP.BALAN        13\nUBED K              12\nMAYUMIE.Q           11\nATHAULLA.M           9\nMUHAMMED.N           7\nRISTHASH.N           7\nD.AIZA               2\nWAJID                1\nMAMITHA.S            1\nEYE_OLIVE            1'

In [15]:
# We convert this mapped dataframme to a csv
df1.to_csv('df1.csv', sep=',', encoding='utf-8')

After successfully mappping the code with name we anonymize the names with some alphanumeric values we create in the next function

In [16]:
# In the below function we are passing "LOVE.ALAYON" and "MIRZA.NAZIR" as list of aliases.
# So, when we apply anonymization function the alphanumeric values for both of them should be equal.

In [17]:
list_fields = ['US_CODE']
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 400)

def anonymization(list_fields,df,list_list_aliases=None):
    try:
        if 'xlsx' in df:
            df = pd.read_excel(df)
        elif 'csv' in df:
            df = pd.read_csv(df)
        dict = {}
        # for every column in list_fields
        for fields in list_fields:
            # for every unique row in the field
            for row in df[fields].unique():
                encode = ''.join(random.choices(string.ascii_letters + string.digits, k=8))
                # Adding the key and values to dict for all the columns
                dict[row] = encode

        # Adding key and values for aliases to the same dictionary created and after running all the aliases will have the same encrypted value
        for lst in list_list_aliases:
            tmp1, tmp2 = lst[0], lst[1]
            try:
                dict[tmp2] = dict[tmp1]
            except Exception:
                pass
        print(dict)

        # Columns required for masking
        df3 = df[list_fields]

        for column in df3:
            for key, value in dict.items():
                # for every key and value in the created dictionary, we update the value(encoded) when key matches in the column in the dataframe
                df.loc[df[column] == key, column] = value
        # create a csv output file with encoding
        df.to_csv('out1.csv', sep=',', encoding='utf-8')

    except Exception as error:
        print(error)

anonymization(list_fields,df='df1.csv',list_list_aliases = [['LOVE.ALAYON','MIRZA.NAZIR']])

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (10,12,14,15,20,30,35,39,40) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

{'MIRZA.NAZIR': 'R97HO3rf', 'HINDS': 'kzVvTLPl', 'SHAHEENA': 'qZTBaOvM', 'PRINCESS': 'hswjX6bj', 'IZZEDDINE.B': 'nmtsVqRz', 'GEORGE.S': 'wc8pkt3j', 'LOVE.ALAYON': 'R97HO3rf', 'NADEER.P': '5Jn3UCij', 'IBRAHIM.R': 'G19AR9VZ', 'MAY': 'YgVqQiT8', 'SAYED.HASHIMI': 'QjPH1uOe', 'AHMED.H': 'hyKrzPwk', 'ASSEM.HEGRAN': 'Gb41ijRt', 'ABDEL.R': '3jWaZjKM', 'SANG': 'ViSD1g1m', 'DSOFT': 'ckJRmwOD', 'CECILLE': 'fVlMy1Hp', 'M.NOUFAL': 'hjxa45H1', 'MONICA.JOHN': 'Ap2Gdj1i', 'MARIFE': '79pU6Ci1', 'AMOS': 'RQgNpAV0', 'RHEA.MELODY': 'YrD0yY1E', 'HAMDAN': 'Kjpzz93u', 'NAJLA.H': 'qhrMWRV9', 'CHARRYBE.S': 'j5j6smYF', 'JUBINA': 'xkHxnXMm', 'ASWATHY': 'L2zTgCAM', 'ASSIA.S': 'xBoRxtoi', 'VALERIYA.V': '1bh4R3YN', 'GLADYS': 'pDl2g0so', 'REEM': 'tszZyiyi', 'HASIB.MAYEGA': 'aatoSpMf', 'CHRISTIAN': '3XtHiblP', 'PRIYA.M': 'oWOtN6lx', 'WAJID': 'ys7Rd6k2', 'M.NIZAM': 'fuYZihRC', 'ANURUP.BALAN': 'GhfH63k9', 'JONA.ENCIONG': 'f8ESwk9t', 'ESTELA': 'FwxFvyVW', 'SARAVANAN': 'Mgs1eF7k', 'LARA.M': 'Q8fODONz', 'MUHAMMED.N': 'ibCLI2Jl', 'ARIANNEN': 'G83UMtrv', 'JESSY.A': 'xCgHrJhc', 'PAUL.K': 'Ww1UmHnY', 'ATHAULLA.M': 'fkyXzbup', 'UBED K': 'Qk0twHBG', 'D.AIZA': '4NG4ZJV1', 'LAILA.Y': 'GXkPvtnb', 'MOSTAFA.B': 'fdmn5cbc', 'MAYUMIE.Q': 'UVGPEmaI', 'PRAVEEN.A': 'vE15GWvC', 'MARICEL.S': 'a3iYqjZc', 'JAMAL.M': 'frhX2EzQ', 'RISTHASH.N': 'zpwJrBjA', 'AHMAD.E': 'NxCLz8Uw', 'MICHAEL.T': 'Fn0Ecync', 'AAISHA': 'NNo6MYnY', 'MONA.H': 'toTTGuc9', 'MAMITHA.S': '5xuDUcJm', 'ALLAN.M': '9HY2XG7z', 'EYE_OLIVE': '4A46pphZ'}

We can see from the above dictionary that both "LOVE.ALAYON" and "MIRZA.NAZIR" share same alphanumeric values

We will also verify the same in the resulting dataframe.

In [18]:
# Now reading the output csv
out1 = pd.read_csv('out1.csv')
out1

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (11,13,15,16,21,31,36,40,41) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,Unnamed: 0.1,RP_NO,BL_CODE,RPD_DATE,PT_NO,RPC_SLNO,RPC_CNT,RPC_CACR,RPC_CODE,DO_CODE,PD_CODE,RPC_PATIENT,RPN_GROAMT,RPN_DISPER,RPN_DISAMT,RPN_NETAMT,RPN_REFUND,RPC_CANCEL,RPN_ACTUAL,US_CODE,RPN_RATE,RPN_QTY,DA_CODE,OPC_SLNO,RPC_SCHEME,RPN_DEDUCT,RPN_COPAYMENT,RPN_COPAYMENTPER,RPN_OPREFUND,RPN_COST,MH_CODE,OPN_DEDUCTPER,RPC_CPTCODE,RPC_ACTIVITYID,RPC_REMARKS,RPC_MODIFIER,RPC_SCHEMEDESC,RPC_ZERORATE,DOC_REGNO,RPC_INSAPPROVALCODE,RPC_TAXCODE,RPN_TAXPER,RPN_TAXSPLITPER,RPN_TOTTAX,RPN_TAXSPLIT1,RPN_TAXSPLIT2,RPN_TOTTAXCH,RPN_TAXSPLIT1CH,RPN_TAXSPLIT2CH,RPN_TOTTAXCR,RPN_TAXSPLIT1CR,RPN_TAXSPLIT2CR,INC_SLNO,RPD_INSAPPREXPDATE,RPD_INSDATE,RPC_INSREMARKS,RPN_ITEMSLNO
0,0,0,426997,G001,2017-07-18 10:09:12,228550.0,2017078350,1,O,CN,R028,1036,N,281,27,76,205,NaN,NaN,0,R97HO3rf,281,NaN,NaN,2.017097e+09,Y,0.0,20,10.0,NaN,1.0,NaN,0.0,NaN,OPRMC1170675,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,427889,G001,2017-07-20 11:45:02,103931.0,2017079242,1,O,CN,A047,1038,N,423,27,114,309,NaN,C,0,kzVvTLPl,423,NaN,NaN,NaN,Y,0.0,31,10.0,NaN,1.0,NaN,NaN,NaN,OPRMC1171718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,428969,G001,2017-07-23 14:12:54,9003000.0,2017080322,1,O,CN,0233,1038,N,425,0,0,425,NaN,C,0,qZTBaOvM,NaN,NaN,NaN,NaN,N,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,OPRMC1172961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,429027,G001,2017-07-23 15:59:21,185077.0,2017080380,1,O,CN,0017,1029,N,479,27,129,350,NaN,NaN,0,hswjX6bj,479,NaN,NaN,2.017100e+09,Y,0.0,35,10.0,NaN,1.0,NaN,NaN,NaN,OPRMC1173031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,6,459343,G001,2017-10-10 12:09:36,330335.0,2017110696,1,O,CN,0195,1038,N,415,16,66,349,NaN,NaN,0,hswjX6bj,415,NaN,NaN,2.017137e+09,Y,51.0,0,0.0,NaN,1.0,NaN,0.0,NaN,OPRMC1207974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212561,212561,262616,639363,G001,2018-11-19 12:51:14,218300.0,2018144128,1,O,CN,A030,1029,N,470,13,61,409,NaN,NaN,0,RQgNpAV0,470,NaN,NaN,2.018176e+09,Y,0.0,0,0.0,NaN,1.0,NaN,NaN,NaN,OPRMC1413035,NaN,NaN,NaN,NaN,NaN,NaN,G001,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212562,212562,262617,639349,G001,2018-11-19 12:38:08,1062730.0,2018144114,1,O,CN,A030,1029,N,470,25,118,353,NaN,NaN,0,RQgNpAV0,470,NaN,NaN,2.018176e+09,Y,25.0,0,0.0,NaN,1.0,NaN,0.0,NaN,OPRMC1413039,NaN,NaN,NaN,NaN,NaN,NaN,G001,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212563,212563,262618,639382,G001,2018-11-19 13:07:49,1061891.0,2018144147,1,O,CN,N023,1038,N,415,25,104,311,NaN,NaN,0,RQgNpAV0,NaN,NaN,NaN,2.018176e+09,Y,0.0,31,10.0,NaN,NaN,NaN,NaN,NaN,OPRMC1413056,NaN,NaN,NaN,NaN,NaN,NaN,G001,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212564,212564,262619,639401,G001,2018-11-19 13:29:05,166816.0,2018144166,1,O,CN,N023,1038,N,250,0,0,250,NaN,NaN,0,RQgNpAV0,250,NaN,NaN,2.018176e+09,Y,50.0,0,0.0,NaN,1.0,NaN,0.0,NaN,OPRMC1413075,NaN,NaN,NaN,NaN,NaN,NaN,G001,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212565,212565,262620,639431,G001,2018-11-19 14:01:39,1050703.0,2018144196,1,O,CN,N023,1039,N,305,25,76,229,NaN,C,0,RQgNpAV0,NaN,NaN,NaN,NaN,Y,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,OPRMC1413109,NaN,NaN,NaN,NaN,NaN,NaN,G001,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
out1.US_CODE

0         R97HO3rf
1         kzVvTLPl
2         qZTBaOvM
3         hswjX6bj
4         hswjX6bj
            ...
212561    RQgNpAV0
212562    RQgNpAV0
212563    RQgNpAV0
212564    RQgNpAV0
212565    RQgNpAV0
Name: US_CODE, Length: 212566, dtype: object

In [20]:
df1[df1['US_CODE']=='LOVE.ALAYON']['US_CODE']

12        LOVE.ALAYON
16        LOVE.ALAYON
24        LOVE.ALAYON
47        LOVE.ALAYON
60        LOVE.ALAYON
             ...
262459    LOVE.ALAYON
262460    LOVE.ALAYON
262461    LOVE.ALAYON
262462    LOVE.ALAYON
262463    LOVE.ALAYON
Name: US_CODE, Length: 15877, dtype: object

In [21]:
df1[df1['US_CODE']=='MIRZA.NAZIR']['US_CODE']

0         MIRZA.NAZIR
28        MIRZA.NAZIR
31        MIRZA.NAZIR
52        MIRZA.NAZIR
107       MIRZA.NAZIR
             ...
261628    MIRZA.NAZIR
261629    MIRZA.NAZIR
261633    MIRZA.NAZIR
261634    MIRZA.NAZIR
261822    MIRZA.NAZIR
Name: US_CODE, Length: 15302, dtype: object

If we compare for 1st and 12th row aplhanumeric values in the output csv file..because we have set "LOVE.ALAYON" and "MIRZA.NAZIR" as aliases
thwy will share same values

In [22]:
out1['US_CODE'].iloc[0]

'R97HO3rf'

In [23]:
out1['US_CODE'].iloc[12]

'R97HO3rf'